/* Base.scss */

/* from index.css */
body {
  margin: calc(#{$offset-g2}* 3) 0 0 0; //margin-top because of Toolbar
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: $max-width;
  padding: 0 $offset-g1;
  margin: 0 auto;

  .body {
    box-sizing: border-box;
    background-color: $color-bg-light;
    padding: $offset-g1;
    width: 100%;
    border: 1px solid $color-border;
    margin: 0 auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* (END) from index.css */

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}
