/* Form.scss */

form > div {
  position: relative;

  &.active {
    background: lightblue;
  }

  label {
    font-weight: bold;
    input {
      border: 1px solid $color-border;
      width: 60%;
    }
  }
  span {
    color: red;
  }
}
